:80 {

    handle_path /static/* {
        root * /staticfiles
        file_server
    }

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /admin* {
        reverse_proxy backend:8000
    }
    reverse_proxy frontend:3001
}
